body {
    font-family: 'Lucida Grande';
}

div#header {
    height: 30px;
}

div#top {
    float: left;
}

div#user {  
    float: right;
}

ul.statuses {
    padding: 0px;
    list-style: none;
    position: relative;
}

li.status {
    padding: 5px;
    border-top: silver solid 1px;
    background: #FFDDDD;
    position: relative;
}

li.no_zenra {
    background: #EEEEEE;
}

span.profile_image {
    display: block;
    height: 48px;
    width: 48px;
    position:absolute;
}

span.body {
    display: block;
    margin-left: 56px;
    min-height:48px;
}

div.screen_name {
    color: #0000FF;
}
